# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

env/

# Environment files
.env
*.env.local

# Logs
logs/

# Data outputs
*.csv
*.json

data/candles.csv

# OS junk
.DS_Store
Thumbs.db
